.card-viewer {
  position: relative;
  max-width: 488px;
  margin: 0 auto;
}
.card-viewer-split,
.card-viewer-meld {
  max-width: 680px;
}
.card-viewer-planar {
  max-width: 681px;
}
.card-viewer-scheme {
  max-width: 674px;
}
.card-viewer-vanguard {
  max-width: 694px;
}

.card-viewer-wrapper {
  padding-top: 139.34426229508197%;
}
.card-viewer-split .card-viewer-wrapper,
.card-viewer-meld .card-viewer-wrapper {
  padding-top: 71.764705882352941176%;
}
.card-viewer-planar .card-viewer-wrapper {
  padding-top: 69.917864476386036960%;
}
.card-viewer-scheme .card-viewer-wrapper {
  padding-top: 143.024963289280469897%;
}
.card-viewer-vanguard .card-viewer-wrapper {
  padding-top: 142.219020172910662824%;
}

.card-viewer .card-viewer-card {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: transform 0.25s linear 0s;
}
.card-viewer-split .card-viewer-card,
.card-viewer-meld .card-viewer-card,
.card-viewer-planar .card-viewer-card {
  transform: rotateZ(90deg);
  transform-origin: top left;
  width: 71.76470588235294%;
  top: 0;
  left: 100%;
}
.card-viewer-planar .card-viewer-card {
  width: 69.917864476386036960%;
}

.card-viewer-transform .card-viewer-card,
.card-viewer-double_face_card .card-viewer-card,
.card-viewer-flip .card-viewer-card {
  cursor: pointer;
}

.card-viewer .card-viewer-card.card-viewer-card-front {
  transition: transform 0.25s linear 0.25s;
}
.card-viewer .card-viewer-card.card-viewer-card-back {
  transform: rotateY(90deg);
}

.card-viewer-flipped .card-viewer-card.card-viewer-card-front {
  transform: rotateY(90deg);
  transition: transform 0.25s linear 0s;
}
.card-viewer-flipped .card-viewer-card.card-viewer-card-back {
  transform: rotateY(0deg);
  transition: transform 0.25s linear 0.25s;
}

.card-viewer-flip.card-viewer-flipped .card-viewer-card {
  transform: rotateZ(180deg);
}
